{% extends '::base.html.twig' %}

{% block body %}

<div class="bowling">
    {% if app.request.session.has('game') %}
        <h3 class="title">Game started</h3>

        <div class="score-wrapper">
            <span class="title">Score:</span>
            <span class="score">{{ game.score }}</span>
        </div>

        <form method="post" action="{{ path('post_game_roll') }}">
            <button id="roll">Roll</button>
        </form>
    {% else %}
        <h3 class="title">Click 'start game' to start a new bowling game</h3>

        <form method="post">
            <button id="new-game">Start game</button>
        </form>
    {% endif %}
</div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(function(){
            $('#roll').closest('form').submit(function() {
                $.ajax({
                    'type': 'POST',
                    'url' : "{{ path('post_game_roll') }}",
                    'data': {'pins' : 3}
                }).done(function(response) {
                    $('.bowling .score').html(parseInt($('.bowling .score').html()) + 3);
                });

                return false;
            });
        });
    </script>
{% endblock %}
